.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

:global(.feature-card) {
  border-color: var(--ifm-color-emphasis-300);
}

:global([data-theme='dark']) :global(.feature-card) {
  border-color: var(--ifm-color-emphasis-200);
}
